@charset "UTF-8";

body {
    font-family: helvetica, sans-serif;
  }
  
  fieldset {
    min-height: 200px;
  }
  
  .standard-label, .standard-input {
      display: block;
  }
  
  .standard-label {
    margin-bottom: 20px;
  }
  
  .standard-input, .standard-select {
    margin-top: 10px;
    border: 3px lightsteelblue solid;
    border-radius: 5px;
    padding: 2px;
  }
  
  .standard-input {
    height: 25px;
    width: 250px;
    font-size: 1em;
  }
  
  .standard-select {
    height: 32px;
    width: 150px;
    font-size: 1em;
  }
  
 
  .container {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px black solid;
    padding: 10px;
    background-color: lightsteelblue; 
  }
  
  .sub-container {
    padding-left: 10px;
    background-color: white;
    margin: 10px auto;


  }
  #get-consent {
    border: 2px black solid;
    background-color: lightsteelblue;
    border-radius: 5px;
    margin: 15px 20px;
    height: 35px;
    width: 73px;
    font-size: 20px;
    float: right;
}
  #consent {
    
    order: 2px black solid;
    background-color: lightsteelblue;
    border-radius: 5px;
    margin: 15px auto;
    height: 35px;
    width: 150px;
    font-size: 20px;
    position: relative;
    left: 66%;
  }
 
